.idea/
cmake-build-debug/
cmake-build-release/
build/
bin/
model/*
/data/tspsd/random24_ov_100/
/data/tspsd/random24_ov_20/
/data/tspsd/random_tsp24_20/
/data/tspsd/random_tsp24_100/
/log/scp-meta/random24_ov_100_3s/
/log/scp-meta/random_tsp24_100_3s/
/log/scp-meta/random_tsp24_20_3s/
/log/scp-meta/random24_ov_20_3s/
