.idea/
cmake-build-debug/
cmake-build-release/
build/
bin/
model/*
/data/tspsd/random24_ov_100/
/data/tspsd/random24_tsp_100/
/data/tspsd/random50_ov_100/
/data/tspsd/random50_tsp_100/
/data/tspsd/random100_ov_100/
